body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: rgb(192, 133, 248);
}

.header {
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(147, 77, 77);
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(234, 216, 251);
}

.container {
    width: 416px;
    height: 416px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 100px;
    border: 2px solid black;
    background-color: white;
}
.container div {
    width: 24px;
    height: 24px;
    border: 1px solid rgb(224, 224, 224);
}

button {
    width: fit-content;
    height: max-content;
    align-self: center;
    padding: 12px;
    border-radius: 6px;
    margin-top: 40px;
    font-size: 32px;
    color: rgb(48, 48, 48);
    background-color: bisque;
}

button:hover {
    scale: 1.1;
    border: 2px rgb(143, 135, 31) solid;
}